---
layout: default
---

<div class="home">
  <!-- {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} -->
  <div>
    <h1 class="page-heading">Welcome to My Website!</h1>
    <div style="margin-top:100px">
      <h1 class="page-heading">My Recent Works:</h1>
      <ul style="list-style-type: circle;">
        <li>My Work with the Horizon Research Program on Computer Vision</li>
        <li>My Research with the UIUC Professor Han Zhao</li>
      </ul>
  </div>
  </div>
 
  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Dominic Chang" }}</h2>
   
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%} -->

</div>
